html {
  margin: 0;
}
body {
  margin: 0;
}
.app-header {
  background-color: #282c34;
  font-size: 20px;
  color: white;
  margin: 0;
}

.nav-container {
  align-items: center;
  height: 50px;
  margin-right: 5%;
  float: right;
  color: whitesmoke;
  background: #282c34;
  padding: 5px 30px;
  display: flex;
  width: 20px;
  border-radius: 7px;
}

.ui.container {
  position: absolute;
  top: 20px;
  right: 5px;
  width: fit-content;
  margin-left: auto!important;
  margin-right: 50px!important;
  display: flex;
  z-index: 100;
}


.nav-links{
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  margin: 0px 10px;
  text-transform: uppercase;
}











.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position: fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
display: flex;
height: 90%;
justify-content: space-evenly;
flex-direction: column;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
display: block;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}



.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 1px 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
}

.btn-black:hover {
  background: black !important;
  color: whitesmoke !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: red;
}